$footer-clr:#f6f9ff;
$text-clr:#012970;
$btn-clr:#4154F1;
$border-clr:#E2ECFF;
$hover-clr: #3D51E9;
$icons-clr:#8094B7;
$a-clr:#0132A8;
$arrow-clr:#DBD7FC;
$title-clr:#4A4444;
$card1-clr:#3EBCFA;
$title-clr:#444444;
$card2-clr: #F7961F;
$card3-clr:#08DA4E;
$card4-clr:#E9222C;
$card5-clr:#C94FE8;
$card6-clr:#F51F9C;
$accordion-clr:#7C7C7C;
$pricing1-clr:#07D5C0;
$pricing2-clr:#65C600;
$pricing3-clr:#FF901C;
$pricing4-clr:#FF0071;